.image-cropper {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

#pfp {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}


   .crop2 {
        width: 348px;
        height: 400px;
        overflow: hidden;
    }

    .crop2 img {
        min-width:348px;
        min-height:400px;
        width: auto;
        height: auto;
    }

